.navbar-color{
    background-color: lightseagreen;
}
.navbar-image{
    width: 50px;
    height: auto;
}
.banner{
    width: 100%;
    height: auto;
}
.color-sobrepuesto{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    margin: 0 13px 0 13px;
}
.h1-banner{
    color: white;
}
.p-banner{
    color: white;
}

.paddingletras{
    padding: 150px;
    position: relative;
}
.imgs{
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 10%;
    
}
.margen{
    margin-top: 70px;
}
.footer{
background-color: lightseagreen;
width: 100%;
/*height: 250px;*/
margin-top: 50px;
}